{{#each entries as |entry|}}
<tr class="entry" id='entry{{ entry.id }}' data-id="{{ entry.id }}">
	<td class="entry-date col1" >{{entry.entry_date}}</td>
	<td class="col1 center">{{entry.account}}</td>

	{{#with (lookup ../categories entry.category_id) as |category|}}
		

		{{#if (iscredit entry) }}
			<td class="col1 center">Credit</td>
			<td class="col2">[{{ category.group }}] {{ category.name }}</td>
			<td class="credit cashtext col3">{{formatMoney entry.amount }}</td>
		{{ else }}
			<td class="col1 center">Debit</td>
			<td class="col2">[{{ category.group }}] {{ category.name }}</td>
			<td class="debit cashtext col3">&#40;{{formatMoney entry.amount }}&#41;</td>
		{{/if}}
	{{/with}}

	<td class="col4">{{ entry.details }}</td>
	<td class="actiontd col5">
		<a href="#" class="rowaction"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
		<a href="#" class="rowaction" onclick='deleteEntry({{entry.id}}, "{{entry.account}}", {{entry.flow}}, {{entry.amount}})'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
	</td>

</tr>
{{/each}}